<!DOCTYPE html>
<html>
    
    <head>
      <!-- include dependency on angular -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="bookcomparison.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="bookcomparison.js"></script>
      <meta charset="utf-8">
    <title>Book Comparison Machine</title>
</head>
    
    <script
      src="http://code.jquery.com/jquery-3.2.1.min.js">
    </script>
    
   <body>
       
  <div ng-app='app' ng-controller='mainCtrl' class='center'>
    <h1>Compare your favorite books!</h1>
    
    <form name='bookForm' ng-submit='addNew(bookForm)'>
      
      <input placeholder='First Book' ng-model='bookForm.first'/><br> <br> 
      <input placeholder='Second Book' ng-model='bookForm.second'/><br><br> 
      
      <button type='submit'>Compare!</button>
    </form>
    
    <ul class='Book-list'>
     
        <li ng-repeat='book in books'>
            <comparison book='book' />
        </li>
    </ul>
    <!--
    Google books API key
    
        AIzaSyDAraCzXlAGY-qyJGLs7M6MmLKa6D-FBXc

    -->
    
    <!--
    Goodreads keys
     key: xqIBQHVgUlJIE5jIX8GTg
    secret: gTYJcdMSpXgRoGixMOtqNqcxIuALZD3PTdrFqf9Y4
    -->
  </div>
</body>
    
    
</html>