<!DOCTYPE html>
<html>
    
    <head>
      <!-- include dependency on angular -->
    <link rel="stylesheet" type="text/css" href="bookcomparison.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <script src="bookcomparison.js"></script>
      <meta charset="utf-8">
    <title>Book Comparison Machine</title>
</head>
    
    <script
      src="http://code.jquery.com/jquery-3.2.1.min.js">
    </script>
    
   <body>
       
  <div ng-app='app' ng-controller='mainCtrl' class='center'>
    <h1>Compare your favorite books!</h1>
    
    <form name='bookForm' ng-submit='addNew(bookForm)'>
      
      <input placeholder='First Book' ng-model='bookForm.first'/> 
      <input placeholder='Second Book' ng-model='bookForm.second'/> 
      
      <button type='submit'>Compare!</button>
    </form>
    
    <ul class='bookForm-list'>
     
        <li ng-repeat='bookForm in bookForms'>
            <comparison bookForm='bookForm' />
        </li>
    </ul>
  </div>
</body>
    
    
</html>